/*
Import Google fonts
Poppins - Light/300 Regular/400 Semi-Bold/600 Bold/700
Source Sans-Pro - Light/300 Regular/400 Semi-Bold/600 Bold/700
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* Stylesheet Index

1. colour scheme values
2. Base body, headings, paragraph and link values
3. utility classes
4. Logo and Main Navigation
5. Jumbotron/Hero section
6. Blockquote section
7. Main Content Area
- 7.1 Homepage
- 7.2 events and collections/gallery
- 7.3 Contact form
- 7.4 donate
-- Pie chart
-- Responsive video
8. Secondary content area
- 8.1 standard card styles across pages
9. footer
10. Media queries
*/

/* 1. colour scheme values 
Light Cornflower Blue: #9cd5f4 / rgb(100, 149, 237)
Naples Yellow: #fde06f / rgb(253, 224, 111)
Indigo Dye: #133c55 / rgb(19, 60, 85)
Honolulu Blue: #386fa4 / rgb(56, 111, 164)
Russian Green: #678d58 / rgb(103, 141, 88)
*/

/* 2. Base body, headings, paragraph and link values */

body, p, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; ;
}
a {
    color: #212529;
    text-decoration:underline;
}
a:hover {
    color: #0056b3;
}

/* 3. utility classes */

.btn {
    text-decoration: none;
}

.text-white {
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
.full-height {
    height: 100%;
}
.card-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pad-bottom-20 {
    padding-bottom: 20px;
}
.btn-outline-secondary:hover {
    color: #f8f9fa;
    background-color: #133c55;
    border-color: #fde06f;
}

/* 4. Logo and Main Navigation */

.site-logo {
    width: 170px;
    height: 85px;
}
.bg-header-wrapper {
    border-bottom: 1px solid rgba(103, 141, 88, 0.8);
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.9);
    border-color: rgba(0,0,0,.7);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}
.nav-link.active {
    color: rgba(0,0,0,1);
    font-weight: 600;
    border-bottom: 2px solid rgb(100, 149, 237, 0.9);
}
.nav-link:hover, .nav-link:focus {
    color: rgba(0,0,0,.8);
    border-bottom: 2px solid rgb(253, 224, 111);
}

/* 5. Jumbotron/Hero section */

.jumbotron-box { 
    background-color: #000;
} 
.jumbotron-overlay {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    min-height: 200px;
}
.jumbotron-overlay-sub-pages {
    margin-top: 0;
}
.cta-donate-text {
    color: #fff;
    text-decoration:underline;
}
.cta-donate-text:hover, .cta-donate-text:focus {
    color: rgb(253, 224, 111);
    text-decoration: underline;
}
.bg-hero-wrapper {
    background-color: #fff;
}
/* 6. Blockquotes section */

.bg-quotes-wrapper {}
.blockquote {
    margin-top: 20px;
    text-align: center;
    border-top: 2px solid rgba(103, 141, 88, 0.8);
    border-bottom: 2px solid rgba(103, 141, 88, 0.8);
}
.quote-mark {
    position: absolute;
    background-image: url("../images/quote-left.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 0.10;
    margin-top: -40px;
}

/* 7. main content area */

.bg-main-wrapper {}
.bg-main-inner-wrapper {
    background-color: rgba(100, 149, 237, 0.5);
    padding-top: 20px;
}

/* 7.1 Main content area Homepage */

.card-icons-main {
    font-size: 4.5rem;
    margin: 1rem auto;
    width: 100%;
}

/* 7.2 Main content area events and collections/gallery */

.heading-title-box {
    padding: 20px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}
  #gallery img {
    width: 100%;
}

/* 7.3 Contact form */

.required-fields-message {
    font-weight: 700;
}
select#messageSubject {
    width: 50%;
}
.required-field {
    color: rgb(255, 0, 0);
}
/* Invalid/valid code tutorial NDN Docs: https://developer.mozilla.org/en-US/docs/Web/CSS/:valid  */
/* input fields */
input + span, textarea + span {
    position: relative;
  }
  
input + span::before {
    position: absolute;
    right: -20px;
    top: -33px;
    left: -18px;
}

/* textarea */
textarea + span::before {
    position: absolute;
    right: -82px;
    top: -139px;
    left: -18px;
}

input:invalid, textarea:invalid {
    border: 2px solid red;
}
  
input:invalid + span::before, textarea:invalid + span::before {
    content: '✖';
    color: red;
  }
  
input:valid + span::before, textarea:valid + span::before {
    content: '✓';
    color: green;
}
input:valid, textarea:valid {
    border: 2px solid green;
}

#submitButton, #resetButton {
    width: 100%;
    margin-top: 40px;
}

/* 7.4 main content area, Donate */

/* pie chart graphic
code tutorial source: https://www.geeksforgeeks.org/how-to-create-a-pie-chart-using-html-css/ */

.piechart {
    margin: 20px auto;
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(19, 60, 85) 0 180deg, 
        #fde06f 180deg 360deg);
}

/* Video embed | Responsive video
Tutorial source used for refrence code: https://avexdesigns.com/blog/responsive-youtube-embed*/
.video-container {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
}
  .video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* 8. Secondary content area */

.bg-secondary-main-inner-wrapper {
    background-color: rgb(253, 224, 111);
}

/* 8.1 Secondary content area - standard card styles across pages */

.complmentary-card {
    margin-bottom: 20px;
}
.background-dark {
    background-color: rgb(19, 60, 85);
}
.card-icons {
    font-size: 5rem;
    margin: 1rem auto;
}
.btn-outline-secondary {
    color: #212529;
    border-color: #6c757d;
}

/* 9. Footer */

.bg-footer-wrapper {}
.bg-footer-inner-wrapper {
    background-color: rgb(56, 111, 164);
    color: #fff;
    min-height: 250px;
}
.social-media {
    margin-top: 40px;
}
.social-media-links li a i {
    font-size: 48px;
    color: #fff;
    background-color: rgb(56, 111, 164);
    padding: 5px 10px;
}
.social-media-links li a i:hover {
    color: rgb(253, 224, 111);
}

/* 10. media queries */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Load larger hero image for larger devices */
    .jumbotron-box { 
        background: url("../images/Group_image_hero_image-compressed.jpg");
         background-repeat: no-repeat;
        background-color: #000;
        background-position: center;
        background-size: cover;
        min-height: 450px;
    }
    .jumbotron-overlay-sub-pages {
    margin-top: 200px;
    }
    #gallery {
        column-count: 2;
      }
    .social-media {
        margin-top: 0;
    }
    .contact-form-bg-image {
        background-image: url('../images/James+Willow.jpg'); background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 590px;
        height: 700px;
        margin: 10px 0 0 -10px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Add animation of jumbotron/hero overlay on desktop */
    .jumbotron-overlay {
        animation-name: jumbotron-zoom-image;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
    /* jumbotron overlay animation */
    @keyframes jumbotron-zoom-image {
        from{
          transform: scale(0.8);
        }
        to{
          transform: scale(1);
        }
    }
    #gallery {
      column-count: 3;
    }
    #submitButton, #resetButton {
        width: auto;
        margin-right: 20px;
    }

    /* social icon transition */
    .social-media-links li a i {
        -moz-transition: all 0.50s ease-in-out;
        -webkit-transition: all 0.50s ease-in-out;
        -o-transition: all 0.50s ease-in-out;
        transition: all 0.50s ease-in-out;
    }
  }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #gallery {
        column-count: 4;
    }
}