/*
Import Google fonts
Poppins - Light/300 Regular/400 Semi-Bold/600 Bold/700
Source Sans-Pro - Light/300 Regular/400 Semi-Bold/600 Bold/700
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* Stylesheet Index
-Color scheme value refrence
-Base body, heading, paragraph and link values
-Utility classes

** Sections **

1. Main Navigation
2. Jumbotron/Hero section
3. Blockquote section
4. Main Content Area
- 4.1 Main content area Homepage
- 4.2 Main content area eventa & Collections, Gallery
5. Secondary content area
- 5.1 Secondary content area homepage
6. footer
7. Media queries
*/

/* colour scheme values 
Light Cornflower Blue: #9cd5f4 / rgb(100, 149, 237)
Naples Yellow: #fde06f / rgb(253, 224, 111)
Indigo Dye: #133c55 / rgb(19, 60, 85)
Honolulu Blue: #386fa4 / rgb(56, 111, 164)
Russian Green: #678d58 / rgb(103, 141, 88)
*/

/* Base body, headings, paragraph and link values */

body, p, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; ;
}

/* utility classes */

.text-white {
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
.card-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pad-bottom-20 {
    padding-bottom: 20px;
}

/* 1. Main Navigation */

.bg-header-wrapper {
    border-bottom: 1px solid rgba(103, 141, 88, 0.8);
}
.nav-link.active {
    border-bottom: 2px solid rgb(100, 149, 237, 0.9);
}
.nav-link:hover {
    border-bottom: 2px solid rgb(253, 224, 111);
}

/* 2. Jumbotron/Hero section */

.bg-hero-wrapper {
    background-color: #fff;
}
.jumbotron-box {    
    background: url("../images/Group_image_hero_image.jpg") no-repeat;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
} 
.jumbotron-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    animation-name: jumbotron-zoom-image;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    min-height: 200px;
}
/* jumbotron overlay animation */
@keyframes jumbotron-zoom-image {
    from{
      transform: scale(0.8);
    }
    to{
      transform: scale(1);
    }
}
.jumbotron-overlay-sub-pages {
    margin-top: 200px;
}
.cta-donate-text {
    color: #fff;
}
.cta-donate-text:hover, .cta-donate-text:focus {
    color: rgb(253, 224, 111);
    text-decoration: underline;
}

/* 3. Blockquotes section */

.bg-quotes-wrapper {}
.blockquote {
    margin-top: 20px;
    text-align: center;
    border-top: 2px solid rgba(103, 141, 88, 0.8);
    border-bottom: 2px solid rgba(103, 141, 88, 0.8);
}
.quote-mark {
    position: absolute;
    background-image: url("../images/quote-left.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 0.10;
    margin-top: -40px;
}

/* 4. main content area */

.bg-main-wrapper {}
.bg-main-inner-wrapper {
    background-color: rgba(100, 149, 237, 0.5);
    padding-top: 20px;
}

/* 4.1 Main content area Homepage */

.card-icons-main {
    font-size: 4.5rem;
    margin: 1rem auto;
    width: 100%;
}

/* 4.2 Main content area events and collections/gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}
  #gallery img {
    width: 100%;
}

/* 5. Secondary content area */

.bg-secondary-main-inner-wrapper {
    background-color: rgb(253, 224, 111);
}

/* 5.1 Secondary content area Homepage */

.complmentary-card {
    margin-bottom: 20px;
}
.background-dark {
    background-color: rgb(19, 60, 85);
}
.card-icons {
    font-size: 5rem;
    margin: 1rem auto;
}

/* 6. Footer */

.bg-footer-wrapper {}
.bg-footer-inner-wrapper {
    background-color: rgb(56, 111, 164);
    color: #fff;
    min-height: 250px;
}
.social-media {
    margin-top: 40px;
}
.social-media-links li a i {
    font-size: 48px;
    color: #fff;
    padding: 5px 10px;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}
.social-media-links li a i:hover {
    color: rgb(253, 224, 111);
}

/* 7. media queries */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #gallery {
        column-count: 2;
      }
    .social-media {
        margin-top: 0;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #gallery {
      column-count: 3;
    }
  }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #gallery {
        column-count: 4;
    }
}

